* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
}
.main-section {
  max-width: 80%;
  height: 93vh;
  margin: 0 auto;
  margin-top: 50px;
  border: 2px solid red;
  background-color: antiquewhite;
}
